---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Quiz End">
	<div class="relative h-screen w-full flex gap-8 text-center flex-col items-center bg-light-green bg-[url(background3.png)] bg-size-[auto_150px] diagonal-scroll">
        <div class="mt-16 mb-8 text-4xl text-dark-green font-bold">Here are your soup suggestions:</div>
        <button class="mx-8 text-2xl shadow-md line-clamp-2 flex flex-row gap-6 justify-center items-center bg-other-green hover:bg-black text-light-green hover:text-white px-8 rounded-4xl transition-all duration-150 hover:cursor-pointer">
            <img class="w-fit h-36" src="soup.png">
            <div>Chicken Noodle Soup</div> 
        </button>
        <button class="mx-8 text-2xl shadow-md line-clamp-2 flex flex-row gap-6 justify-center items-center bg-other-green hover:bg-black text-light-green hover:text-white px-8 rounded-4xl transition-all duration-150 hover:cursor-pointer">
            <img class="w-fit h-36" src="soup.png">
            <div>Chicken Noodle Soup 2</div>
        </button>
    </div>
</Layout>